html {
    font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
    /* font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; */
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }
  

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
  }
  

a{
      color: inherit;
      text-decoration: none;
  }
.align-parent-center{
  position: absolute;
  top: 50%;
 -webkit-transform: translateY(-50%);
 -ms-transform: translateY(-50%);
 transform: translateY(-50%);
 left: 50%;
 -webkit-transform: translateX(-50%);
 -ms-transform: translateX(-50%);
 transform: translateX(-50%);
}  
.vertical-align {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.horizontal-align {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  

.sticky + main {
    padding-top: 150px;
  }
  

.box-shadow {
    box-shadow: 0 1px 4px -2px #555;
  }
  

/* containers */
  

.x-container{
  width: 90%;
  margin: 0 auto;
}
  

/* COMPONENTS */
  
.btn {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #ccc;
    text-decoration: none;
    padding: 10px 30px;
    background: inherit;
}
.btn-green {
    border: 1px solid var(--main-color);
    color: var(--main-color);
}
.btn-green:hover {
    color: #fff;
    background-color: var(--main-color);
}
  

.btn-grey {
    border: 1px solid #35495e;
    color: #35495e;
}
  

.btn-grey:hover {
    color: #fff;
    background-color: #35495e;
}
  
.sw15{
  width: 15px;
}
.sh15{
  height: 15px;
}
.sw35{
  width: 35px;
}
.sh35{
  height: 35px;
}
/* LOGO */
  

.logo{
    padding: 5px 10px;
    border-radius: 5px;
    background: rgb(4, 197, 4);
    color: #fff;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}
  

.enova{
    background: #fff;
    color: #000;
    padding: 1px 0px;
    padding-left: 2px;
    padding-right: 10px;
    border-radius: 0px 5px 5px 0px;
    font-weight: 900;
    display: flex;
    align-items: center;
}
  

.mr-15{
 margin-right: 10px;
}
  
.mh{
  min-height: 100vh
}
.x-navigator{
  display: flex;
  padding: 10px 10px;
}
  

.x-navigator a{
 color: gray
}
  

.x-navigator a:hover{
  text-decoration: underline;
}
  

.x-navigator .separator{
  margin: 0 10px;
}

.title {
    font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
    display: block;
    font-weight: 300;
    font-size: 100px;
    color: #3f4449;
    letter-spacing: 1px;
  }
  
  .subtitle {
    font-weight: 300;
    font-size: 42px;
    color: #545861;
    word-spacing: 5px;
    padding-bottom: 15px;
  }
  
  .links {
    padding-top: 15px;
  }

/* .icon{
  margin:10px 0 10px 15px;
  padding:15px;
  position:relative;
  width:55px;
  height:55px;
  color:#162a36 !important;
  overflow:hidden;
  border-radius:3px;
  font-size:32px;
}
.icon svg{fill:#000} */
  

.box {
  position: relative;
}
  

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
  

.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}
  

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}
  

/* upper left */
  

.ribbon-top-left {
  top: -10px;
  left: -10px;
}
  

.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
  

.ribbon-top-left::before {
  top: 0;
  right: 0;
}
  

.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
  

.ribbon-top-left span {
  right: -25px;
  top: 30px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
  

/* Upper right */
  

.ribbon-top-right {
  top: -10px;
  right: -10px;
}
  

.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
  

.ribbon-top-right::before {
  top: 0;
  left: 0;
}
  

.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
  

.ribbon-top-right span {
  left: -25px;
  top: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
  

/* Lower left */
  

.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}
  

.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
  

.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}
  

.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}
  

.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}
  

/* Lower right */
  

.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}
  

.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
  

.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}
  

.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}
  

.ribbon-bottom-right span {
  left: -25px;
  bottom: 30px;
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}
  

.has-buble{
  position: relative;
}
  

.x-buble{
  position: absolute;
  padding: 8px;
  background: #2980b9;
  color: #fff;
}

/* form */
.x-form{
  display: flex;
  flex-direction: column;
}
.x-form .x-form-group{
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.textbox{
  outline: none;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  transition: all 0.3s;
}
.textbox:focus{
  border-color: var(--main-color);
}
.x-form  .textbox{
  margin: 5px 0;
}
.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}



/* TABS*/
.tabs {
	display: flex;
	flex-wrap: wrap; 
}
.tabs label {
	order: 1; 
	display: block;
	padding: 5px 16px;
	margin-right: 0.2rem;
	cursor: pointer;
  transition: background ease 0.2s;
}
.tabs .tab {
  order: 99; 
  flex-grow: 1;
	width: 100%;
	display: none;
  padding: 1rem;
  background: #fff;
  border-top: 1px solid #CCC;
}
.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
  background: #fff;
  border-bottom: 2px solid var(--main-color);
  font-weight: bold;
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
    background: var(--main-color);
    color: #fff;
    padding: 10PX;
  }
  .tabs input[type="radio"]:checked + label{
    border: none;
  }
  .tabs .tab{
    border: 0;
  }
}

/* END TABS */

/* -------------SELECT ----------------------------*/
.form-select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}

.form-select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: var(--form-item-radius);
  background: transparent;
  border: 1px solid var(--color-input-border);
  color: var(--color-input);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form-select select::-ms-expand {
  display: none;
}

.form-select select:hover,
.form-select select:focus {
  color: #000;
  border: 1px solid var(--color-primary);
}

.form-select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: var(--color-input-border) transparent transparent transparent;
}

.form-select select:hover ~ .select__arrow,
.form-select select:focus ~ .select__arrow {
  border-top-color: var(--color-primary);
}

.form-select select:disabled ~ .select__arrow {
  border-top-color: var(--color-input-border);
}
/* --------------END SELECT ------------------------*/
/* Radio and checkbox */
/*radio */
.form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  top: 4px;
  height: 20px;
  width: 20px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
  transition: all 0.3s;
}

.form-radio:checked::before {
  position: absolute;
  font: 13px/1 "Open Sans", sans-serif;
  left: 7px;
  top: 2px;
  content: "⅃";
  transform: rotate(40deg);
}

.form-radio:hover {
  background-color: #f7f7f7;
}

.form-radio:checked {
  background-color: #92f70f;
  color: #fff;
}

.group-radio {
  margin-left: -5px;
}

.group-radio label {
  font: 300 16px/1.7 "Open Sans", sans-serif;
  color: #666;
  cursor: pointer;
}

/* checkbox form */
.form-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  top: 8px;
  height: 20px;
  width: 20px;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
  transition: all 0.3s;
}

.form-checkbox:checked::before {
  position: absolute;
  font: 13px/1 "Open Sans", sans-serif;
  left: 7px;
  top: 3px;
  content: "⅃";
  transform: rotate(40deg);
}

.form-checkbox:hover {
  background-color: #f7f7f7;
}

.form-checkbox:checked {
  background-color: #92f70f;
  color: #fff;
}

.group-checkbox {
  margin-left: -5px;
}

.group-checkbox label {
  font: 300 16px/1.7 "Open Sans", sans-serif;
  color: #666;
  cursor: pointer;
}

/* */